<h4 class="leftmenu-hl">{{ 'betting_game.title'|trans }}</h4>
<div class="tags-sidebar">
    <div class="sidebar-nav">
        <ul>
            <li><a href="{{ path( 'betting_game_admin_leagues' ) }}">{{ 'betting_game.leagues'|trans }}</a></li>
            <li><a href="{{ path( 'betting_game_admin_teams' ) }}">{{ 'betting_game.teams'|trans }}</a></li>
            <li><a href="{{ path( 'betting_game_admin_matches' ) }}">{{ 'betting_game.matches'|trans }}</a></li>
            <li><a href="{{ path( 'betting_game_admin_players' ) }}">{{ 'betting_game.players'|trans }}</a></li>
            <li><a href="{{ path( 'betting_game_admin_users' ) }}">{{ 'betting_game.users'|trans }}</a></li>
        </ul>
    </div>
</div>
