{% extends '@NetgenAdminUI/pagelayout.html.twig' %}

{% block title %}
    {{ 'betting_game.teams'|trans }}
{% endblock %}

{% block content %}
    <div class="panel">
        <h1>{{ 'betting_game.teams'|trans }}</h1>
        {{ block('teams_create') }}
        {{ block('teams_table') }}
    </div>
{% endblock %}

{% block teams_table %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Liga</th>
                <th>&nbsp;</th>
            </tr>
            {% for team in teamList %}
                <tr>
                    <td>{{ team.id }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.league.name }}</td>
                    <td>
                        <a href="{{ path('betting_game_admin_teams_edit', {'id': team.id}) }}">Bearbeiten</a>
                        <a href="{{ path('betting_game_admin_teams_delete', {'id': team.id}) }}">Löschen</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Keine Daten vorhanden</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block teams_create %}
    <h2>Neue Mannschaft anlegen</h2>
    <form method="post" action="{{ path('betting_game_admin_teams_create') }}">
        <div class="form-group">
            <label for="team_name">Name</label>
            <input type="text" name="team_name" id="team_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="team_league">Liga</label>
            <select name="team_league" id="team_league" class="form-control" required>
                {% for league in leagueList %}
                    <option value="{{ league.id }}">{{ league.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" name="CreateTeam" class="btn btn-primary">Anlegen</button>
    </form>
{% endblock %}